
@{
    ViewData["Title"] = "UserDetail";
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}

<h1>Giriş Yapan Kullanıcı Bilgileri</h1>

<h3>Hoşgeldiniz: @ViewBag.v1 @ViewBag.v2</h3>
<h4>E-Mail Adresi: @ViewBag.v3</h4>

